#main{
    /* border: 5px solid green; */
    height: 109vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub{
    /* border: 2px solid red; */
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer{
    font-weight: bolder;
    font-family: Verdana;
}